@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* .selection-bold-text {
    font-weight: 800;
} */
:root {
    --main-color: #000;
    --secondary-color: #fff;
    --terteary-color: #27272a;
    --main-text-color: #000;
    --secondary-text-color: #fff;
    --paragraph-main-color: #71717a;
    --paragraph-secondary-color: #d4d4d8;
    --main-border-color: #71717a;
    --main-shadow-color: #4e4e4e;
}

/* general */
body, .css-2ulfj5-MuiTypography-root, .css-2d2n21-MuiButtonBase-root-MuiButton-root, main {
    margin: 0;
}
.MuiToolbar-root {
    padding: 20px 90px;
}
.css-2d2n21-MuiButtonBase-root-MuiButton-root {
    text-transform: capitalize;
}
.paragraph-main {
    font-family: "Sora", sans-serif;
    color: var(--paragraph-main-color);
}
.paragraph-secondary {
    font-family: "Sora", sans-serif;
    color: var(--paragraph-secondary-color);
}

/* Header */
/* navbar */
.css-11b3ww9-MuiPaper-root-MuiAppBar-root, .css-s43fis, .css-5poeop {
    background-color: var(--secondary-color);
    box-shadow: none;
    position: relative;
}
.logo-text {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 800;
}
.nav-list {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 23px;
    background-color: var(--main-text-color);
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}
.nav-list-container:hover > :not(:hover) {
    opacity: 0.5;
}
.nav-list:hover {
    background-position: 0;
    font-weight: 800;
}
.nav-list:hover::before{
    width: 100%;
}
.nav-list::before {
    content: '';
    background: #000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
.nav-button {
    text-transform: capitalize;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--secondary-text-color);
    border: 2px solid var(--main-color);
    transition: all .3s;
}
.nav-button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-weight: 600;
}
.nav-button > img {
    width: 15px;
    height: 15px;
    margin-left: 7px;
    transition: all .3s;
}
.nav-button:hover > img {
    filter: brightness(0%);
}
.css-6iz4mj-MuiButtonBase-root-MuiIconButton-root, .css-15fqszo {
    background-color: var(--main-color);
}
.css-6iz4mj-MuiButtonBase-root-MuiIconButton-root:hover, .css-15fqszo:hover {
    background-color: var(--main-shadow-color);
}
/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner > div:first-child {
    width: 580px;
    position: relative;
    left: 160px;
}
.banner > div:last-child > img {
    width: 889px;
    height: auto;
}
.title-banner {
    font-size: 3rem;
    line-height: 70px;
    margin-bottom: 30px;
}
.title-banner-bold {
    font-weight: 800;
}
.title-banner-double {
    color: var(--secondary-text-color);
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}
/* social group */
.social-group {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.banner-social {
    width: fit-content;
    position: absolute;
    bottom: -20px;
    left: 380px;
}
/* social button */
.social-button {
    border-radius: 5px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 14px;
    transition: all .3s;
}
.social-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.social-button > svg {
    width: 20px;
    height: 20px;
}
/* skill section */
.skill-section {
    margin-top: 150px;
}
.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 70px auto;
    flex-wrap: wrap;
    gap: 35px 55px;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    width: 170px;
    height: 170px;
    transition: all .4s;
}
.skill:hover {
    background-color: var(--main-color);
    color: var(--secondary-text-color);
}
.skill > img {
    width: 56px;
    height: 56px;
    transition: all .4s;
}
.skill:hover > img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
}
.skill > p {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 25px;
    font-family: "Sora", sans-serif;
}

/* expercience section */
.experience-section {
    background-color: var(--main-color);
    padding-bottom: 40px;
}
.experience-section > h3 {
    padding: 80px 0;
}
.experience-box > div > div >h5 {
    color: var(--secondary-text-color);
    font-weight: 600;
    font-family: "Sora", sans-serif;
}
.experience-box {
    border: 1px solid var(--main-border-color);
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all .2s;
}
.experience-box:hover {
    background-color: var(--terteary-color);
    border-color: var(--terteary-color);
}

/* about section */
.about-section {
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
}
.about-section > div:first-child > img {
    width: 525.45px;
    height: 572px;
}
.about-section > div:last-child {
    justify-self: start;
    width: 32%;
}
.about-section > div:last-child > h3 {
    text-align: justify;
    margin-bottom: 40px;
}